@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0 05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input:focus {
  outline: none;
}

.card {
  width: 100%;
  max-width: 440px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid rgb(100, 42, 138);
}

.card h2 {
  font-size: 20px;
  font-weight: 600;
}

.card p {
  margin: 10px auto;
  max-width: 330px;
}

.user-info ul {
  list-style: none;
  padding-bottom: 15px;
  margin-top: 2rem;
  max-width: 400px;
}

.user-info ul li {
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 3px;
  color: black;
}

.repos {
  padding: 12px;
  text-decoration: none;
  color: black;
  max-width: 400px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.4s;
}

.repos:hover {
  color: white;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0 05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}
